<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
<a href="/home_page">Главная страница</a>
<a href="/user_cab">Личный кабинет</a>
<a href="/objects_list/nofood">Список вещей</a>
<a href="/duties_list">Список обязанностей</a>
<a href="/reference">Памятка для участника похода</a>
<a href="/plan">План похода</a>
<a href="/logout_page">Выход</a>
<div class="container">
    <h1>Это главная страница!!!</h1>
    <h5>Здесь есть список пользователей</h5>
    <ul>
        {% for user in users %}
        <li>{{user.first_name}} {{user.last_name}} ({{user.username}})</li>
        {% endfor %}
    </ul>
    {% if is_moder == True %}
    <form method="POST">
        {% csrf_token %}
        <h5>Выберите участника</h5>
        <input type="text" name="user_id" id="user_id" list="users">
        <datalist id="users">
            {% for user in users %}
            <option value="{{user.id}}">
                {{ user.first_name }} {{ user.last_name }}
            </option>
            {% endfor %}
        </datalist>
        <h5>Выберите предмет</h5>
        <input type="text" name="thing_id" id="thing_id" list="things">
        <datalist id="things">
            {% for thing in things %}
            <option value="{{thing.id}}">
                {{thing.name}}
            </option>
            {% endfor %}
        </datalist>
        <button type="submit" class="btn btn-success btn-lg" name="button">Назначить ответственного</button>
    </form>
    {% endif %}
</div>
</body>
</html>