<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новая обязанность</title>
</head>
<body>
<a href="/home_page">Главная страница</a>
<a href="/user_cab">Личный кабинет</a>
<a href="/objects_list/nofood">Список вещей</a>
<a href="/duties_list">Список обязанностей</a>
<a href="/reference">Памятка для участника похода</a>
<a href="/plan">План похода</a>
<a href="/logout_page">Выход</a>
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <h1>Добавить новую обязанность</h1>
        <p></p>
        <h5>Название</h5>
        <input type="text" name="name">
        <h5>Описание</h5>
        <input type="text" name="description">
        <input type="submit" value="Создать">
    </form>
</div>
</body>
</html>