<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/home_page">Главная страница</a>
<a href="/user_cab">Личный кабинет</a>
<a href="/objects_list/nofood">Список вещей</a>
<a href="/duties_list">Список обязанностей</a>
<a href="/reference">Памятка для участника похода</a>
<a href="/plan">План похода</a>
<a href="/logout_page">Выход</a>
<h1>Что нужно взять каждому участнику похода</h1>
<p>{{text.text}}</p>
{% if is_moder %}
<a href="/edit_reference">Редактировать памятку</a>
{% endif %}
</body>
</html>